.top-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    height: 8%;
    margin: auto;
    align-items: center;
    padding: 0 14rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 100;
}
